
    <div class="container-fluid bg" style="background-color: hsl(197, 38%, 87%);" >
        <h1 style="text-align: center;"> Online Tickets Booking</h1><br><br>
        <div class="row">
           <div class ="col-md-3">

           </div>
                    
           <div class="col-md-6">
                                <h3>Ticket Booking</h3>
                                <!-- <i class="fa fa-user"></i>  -->
                                <b>Name:</b>
                                <input type="text" [(ngModel)]="name">
                                 <p>{{name}}</p> 
                                 <b>Email:</b>
                                <input type="text" [(ngModel)]="email">
                                 <p>{{email}}</p> 
                                <b>Address:</b>
                                <input type="text" [(ngModel)]="address">
                                <p>{{address}}</p> 
                                <b>contact:</b>
                                <input type="text" [(ngModel)]="contact">
                                 <p>{{contact}}</p> 
                                <b>City:</b>
                                <input type="text" [(ngModel)]="city">
                                <p>{{City}}</p>
                              <hr>
                            <p>By creating an account you agree to our <a href="#"><span style="color:Red;">Team & Privacy</span> </a>.</p>
                        
                            <button type="submit" class="registerbtn">Submit</button>
                          
                        </div>       
                          <div class="container signin">
                            <p>Already have an account? <a href="#"><span style="color: darkblue;">SignUp</span></a></p>
                          </div>
                       
                
                <div class ="col-md-3">
               
                </div>
           
           
        
    
    </div><br><br>