<div class="container-fluid bg1">

    <div class="topnav">
      <h1><span style="color: red;">Dista</span><span style="color: white;">Travel</span></h1>
     <a routerLink="/"> Home</a>
      <a routerLink="/aboutus">Aboutus</a>
      <a routerLink="/form">form</a>
      <a routerLink="/login">Login</a>
    </div>
<router-outlet></router-outlet>

<div class="container-fluid bg">
   
       
    <div style="text-align: center;">
        <p>© COPYRIGHT 2021 <br><span style="color: blue;"> DISTATRAVEL.COM.</span> ALL RIGHTS RESERVED.</p>
    </div>

</div>